<section class="card">
  <a href="/blogPost/{{category}}">
    <header>{{title}}</header>
    <img src="https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&w=800">
  </a>
</section>

