<section class="card">
  <a href="/comments/{{id}}">
    {{!-- <header>{{title}}</header> --}}

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
    </div>
  </a>
</section>

