<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Problogger</title>
    <link rel="stylesheet" type="text/css" href="/css/jass.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <header>
      <h1>Problogger</h1>
      <h2>Blog + Commenting Platform</h2>
    </header>
    <nav class="nav">
      <a href="/">Home</a>
      {{#if loggedIn}}
        <a href="/conversation">Conversation</a>
        <button id="logout" class="btn-no-style">Logout</button>
      {{else}}
        <a href="/login">Login</a>
      {{/if}}
    </nav>
    <h3>Join the Conversation</h3>
    {{{body}}}
    <main>
      {{#if loggedIn}}
        <script src="/js/logout.js"></script>
      {{/if}}
      </section>
    </main>
  </body>
</html>