<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Problogger</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
  <header class="container-header">
    <h1>Problogger</h1>
    <div class="container-nav">
      <h2>Blog + Commenting Platform</h2>
      <nav class='nav'>
        <a href="/">Home</a>
        {{#if loggedIn}}
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
        {{!-- {{#if loggedIn}}
        <a href="/">Conversations</a>
        {{/if}} --}}
      </nav>
    </div>
  </header>

  <main class="container">
    {{#if loggedIn}}
    <div class="create-form">
      <form action="/create-blog-post" method="POST">
        <input type="text" name="category" placeholder="Category" required>
        <input type="text" name="title" placeholder="Title" required>
        <textarea name="description" placeholder="Description" required class="large-textarea"></textarea>
        <button type="submit">Create Blog Post</button>
      </form>
    </div>
    {{/if}}

    <div class="blogPosts">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>