<section class="container">
  <h3 class="blogPost-details">{{blogPost.title}}</h3>
  <h4>Reply Below: {{Comments}}</h4>
  {{#if loggedIn}}
  <section class="flex-row justify-center">
    {{#each blogPosts as |blogPost|}}
    {{> blogPost-category}}
    {{/each}}
  </section>
</section>
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}