<section class="container">
  <h3 class="blogPost-details">{{blogPost.title}}</h3>
  <h4>Reply Below: {{Comments}}</h4>
  {{#if loggedIn}}
  <section class="flex-row justify-center">
    {{#each blogPost as |blogPost|}}
    {{> blogPost-category}}
    {{/each}}
  </section>
</section>