body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-image: url("https://wallpapersmug.com/download/1920x1080/c066e0/blue-abstract-wave-flow-minimalist.jpg");
  background-size: cover;
}

header {
  /* background-color: #333; */
  color: black;
  text-align: center;
  padding: 20px;
  width: 100%;
}

h1 {
  font-size: 115px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: whitesmoke; 
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5); 
  letter-spacing: 10px; 
  text-transform: uppercase;
}


.login-container {
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  position: fixed;
  top: 60px;
  right: 0;
  padding: 30px;
  /* background-color: #333;  */
  color: #fff; 
  display: flex;
  justify-content: flex-end;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav a {
  color: #fff; 
  text-decoration: none; 
  margin: 0 10px; 
}

.btn-no-style {
  background: none;
  border: none;
  color: #fff; 
  cursor: pointer;
}
