body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-image: url("https://img.freepik.com/free-photo/abstract-surface-textures-white-concrete-stone-wall_74190-8189.jpg");
  background-size: cover;
}

header {
  /* background-color: #333; */
  color: black;
  text-align: center;
  padding: 20px;
  width: 100%;
}

h1 {
  font-size: 100px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: black;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  letter-spacing: 10px;
  text-transform: uppercase;
}

h2 {
  font-family: Arial, sans-serif;
  font-size: 36px;
  color: black;
  text-transform: uppercase;
  margin-top: 70px;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  letter-spacing: 5px;
}

h3 {
  font-size: 24px;
  color: black; /* Text color */
  margin: 20px 0;
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

/* Style the button */
.button {
  background-color: #333; /* Background color */
  color: whitesmoke; /* Text color */
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: lightblue; /* Change color on hover */
}

.login-container {
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  position: fixed;
  top: 60px;
  right: 0;
  padding: 30px;
  /* background-color: #333;  */
  color: #fff;
  display: flex;
  justify-content: flex-end;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}


.nav a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
  font-size: 30px;
}

#centered-image {
  max-width: 100%;
  height: auto;
}

.container {
  background-color: #333; /* Change the background color to match the header */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px auto;
  max-width: 800px;
  text-align: center;
  color: #fff; /* Text color */
}

.blogPost-category {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
  color: #fff; /* Text color */
}


.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


/* Style individual comments within the .flex-row section */
.blogPost-description {
  background-color: #333; /* Change the background color to match the container */
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  color: #fff;  /* Text color */
}


.card {
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
}


.comments {
  width: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.comments-category {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px var(--secondary);
  border: 10px groove var(--light);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 100px;
  padding-left: 100px;
}